/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* angular-cli file: src/styles.css */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";


.ag-theme-alpine {
  @include ag-theme-alpine();
}

body {
  background-color: gainsboro;
  margin-left: 5px;
}

.right-space {
  margin-right: 1em;
}

.right-big-space {
  margin-right: 16em;
}

.right-intermedio-space {
  margin-right: 3em;
}


.left-space {
  margin-left: 1em;
}

.left-big-space {
  margin-left: 16em;
}

.remove-float {
  float: none;
}

.top-scpace {
  margin-top: 1.5em;
}

.big-top-space {
  margin-top: 100px;
}

.logo {
  max-height: 180px;
  max-width: 180px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.ocultar {
  visibility: hidden;
}

.letra-pequeña {
  font-size: 70%;
}

.texto-centrado {
  text-align: center
}

.bordes {
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

body {
  margin: 0;
}

.centrar {
  margin-left: auto;
  margin-right: auto;
}
